html, body, .root  {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;

}
.field {
    position:relative;
    left:0px;
    top:0px;
    flex-shrink: 0;
    width: 560px;
    height: 100%;
    max-height: 800px;
    min-height: 560px;
    border: 5px rgba(255, 255, 255, 0.2) dotted;
    background-color: transparent;
    z-index: 2;
}
canvas {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}
.upper {
    filter: blur(3px);
    backdrop-filter: blur(3px);
    -webkit-filter: blur(3px);
}

.pong {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
   
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #6465A5,rgb(42, 161, 112));
    z-index: 0;
    transition: all ease-in-out 1s;
}
.background::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(to bottom right, #6465A5,rgb(126, 110, 216));
    opacity: 0;
    transition: all 3s ease-in-out;
}
 .started:after{
     opacity: 1;
 }
@media (max-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */  
      .field {
        margin-top: 0;
        margin-right: 0;
        width: 100%;
        min-height: auto;
        height: 85%;

    }
    canvas {
        
        border-left: none;
        border-right: none;
    }
    .pong {
        display: flex;
        
    }
    .controls {
        width: 100%;
    }
    .background {
        background-image: linear-gradient(to bottom, #6465A5,rgb(42, 161, 112));
    }
    .background::after {
        background-image: linear-gradient(to bottom, #6465A5,rgb(24, 140, 207));
    }
}

@media (max-width:425px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */  
      .field {
        margin-top: 0;
        width: 100%;
        min-height: auto;
        height: 80%;
        border-right: none;
        border-left: none;
    }
    .pong {
        display: block;
    }
    .controls {
        width: 100%;
    }
    canvas {
        border-left: none;
        border-right: none;
    }
    .background {
        background-image: linear-gradient(to bottom, #6465A5,rgb(42, 161, 112));
    }
    .background::after {
        background-image: linear-gradient(to bottom, #6465A5,rgb(24, 140, 207));
    }
}
